.bg-footer{
    background-color: rgb(34, 31, 31);
    padding-top: 2%;
    padding-bottom: 2%;
}
.h2-footer{
    color: #fffefe;
}
.h5-footer{
    color: #fffefe;
}
.p-footer{
    color: bisque;
}
.img-footer{
    size: 50px;
}

.row2{
    padding-top: 2%;
}
.bg-home{
    background-image: url("image/7057d2204525afa.jpg");
    background-size: cover;
}
.p1{
    line-height: 5px;
    font-size: 20px;
}
.p11{
    line-height: 5px;
    margin-top: 40px;
    font-size: 20px;
}
.img{
    padding-bottom: 1%;
}